html {
  background: url('../images/bg-desktop.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffff;
  padding: 3em;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400, 700;
  padding: 5%;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400, 700;
}

footer {
  display: flex;
  justify-content: center;
}

.footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 100%;
  width: 1.75em;
  height: 1.75em;
  margin: 0.5em;
}

.footer:last-child {
  margin-right: 0;
}

/* Headline, Description Paragraph & Button */

content {
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.illustration {
  width: 100%;
  height: auto;
}

.registerbtn {
  color: hsl(257, 40%, 49%);
  font-weight: 400;
  padding: 14px 60px;
  border-radius: 50px;
  font-size: 14px;
}

.registerbtn:hover {
  background-color: #eeeeee;
}

/* Desktop version */

@media(min-width: 768px) {
  body {
    display: block;
  }

  content {
    flex-direction: row;
  }

  .illustration {
    width: 60%;
    height: 60%;
  }

  .main {
    padding-left: 6em;
  }

  footer {
    justify-content: flex-end;
    padding-right: 3em;
  }
}
